.GroupCreation {
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #e7e8ec;
    font-size: 12.5px;
    font-family: Roboto, Open Sans, Helvetica Neue, sans-serif;
    width: 100%;
    max-width: 500px;
}
    .GroupCreation header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        background: #F9FAFC;
        border-bottom: 1px solid #e7e8ec;
    }
    .GroupCreation header .title {
            font-weight: bold;
        }
    .GroupCreation header .closeButton {
            position: relative;
            width: 1em;
            height: 1em;
        }
    .GroupCreation header .closeButton:before, .GroupCreation header .closeButton:after {
                position: absolute;
                left: 42%;
                content: ' ';
                height: 100%;
                width: 16%;
                background-color: #5181b8;
            }
    .GroupCreation header .closeButton:before {
                transform: rotate(45deg);
            }
    .GroupCreation header .closeButton:after {
                transform: rotate(-45deg);
            }
    .GroupCreation .search {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        padding: 0.3em 0.7em;
        font-size: 12.5px;
        align-items: baseline;
        width: 100%;
        border: none;
        border-bottom: 1px solid #e7e8ec;
    }
    .GroupCreation .search .user {
            background: #dae2ea;
            color: #55677d;
            padding: 0.3em 0.7em;
            border-radius: 4px;
            margin: 0.25em 0.5em 0.25em 0;
        }
    .GroupCreation .search .searchInput {
            border: none;
            width: 15em;
            padding: 0.3em 0.7em;
            margin: 0.25em 0;
            font-size: 12.5px;
        }
    .GroupCreation .search .searchInput:focus {
                outline: none;
            }
    .GroupCreation .friendsList {
        max-height: 50vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .GroupCreation .friendsList .user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.3em 0.7em;
            border-bottom: 1px solid #e7e8ec;
            cursor: pointer;
        }
    .GroupCreation .friendsList .user:last-child {
                border: none;
            }
    .GroupCreation .friendsList .user:hover {
                background-color: #f0f2f5;
            }
    .GroupCreation .friendsList .user .userWrap {
                display: flex;
                align-items: center;
            }
    .GroupCreation .friendsList .user .userWrap .avatar {
                    position: relative;
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                    background-size: 45%;
                }
    .GroupCreation .friendsList .user .userWrap .avatar.desktop:after {
                        position: absolute;
                        bottom: 1.25%;
                        right: 6.25%;
                        content: '';
                        width: 16%;
                        padding-top: 16%;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        background: #96C68F;
                    }
    .GroupCreation .friendsList .user .userWrap .avatar.mobile:after {
                        position: absolute;
                        bottom: 1.25%;
                        right: 6.25%;
                        content: '';
                        width: 8%;
                        padding-top: 12%;
                        border: 1px solid #96C68F;
                        border-top: 2px solid #96C68F;
                        border-bottom: 2px solid #96C68F;
                        border-radius: 15%;
                        background: #fff;
                        box-shadow: 0px 0px 0px 1px #fff;
                    }
    .GroupCreation .friendsList .user .userWrap .fullName {
                    font-weight: 500;
                    color: #2a5885;
                    margin: 0 10px;
                }
    .GroupCreation .friendsList .user .select {
                width: 15px;
                height: 15px;
                border: 1px solid #e7e8ec;
                border-radius: 50%;
                background-color: #fff;
            }
    .GroupCreation .friendsList .user .select.checked {
                    background-color: #5181b8;
                }
    .GroupCreation footer {
        display: flex;
        justify-content: flex-end;
        padding: 0.5em 1em;
        border-top: 1px solid #e7e8ec;
    }
    .GroupCreation footer .button {
            display: inline-block;
            padding: 7px 16px 8px;
            font-size: 12.5px;
            cursor: pointer;
            text-align: center;
            background-color: #5181b8;
            color: #fff;
            border-radius: 4px;
        }
    .GroupCreation footer .button.disabled {
                cursor: default;
                opacity: 0.7;
            }
